.userInfoDiv{
	padding-top:8px
}
.userHeadDiv{
	height: 205px;width: 265px;text-align: center;
}
.userHeadDiv img{
	width: 100px;height: 100px;
}
.discuss{
	margin-bottom: 20px;
}
.myAlabel{
	color:#333333;
}
.myBselect{
	color:#333333;
	font-family: "微软雅黑";
	font-size: 18px;

}
.myAselect{
	width: 220px;
	
}
.myAtreat{
	color:#333333;
	font-family: "微软雅黑";
	font-size: 18px;
}
